@import "../../../global/global.scss";
.row {
    padding: 10px 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 10px;
    border-bottom: 1px solid lightgray;
}
.district {
    width: 30%;
    text-overflow: ellipsis;
}
.data {
    width: 8%;
}
.header {
    padding: 10px 0;
    width: 100%;
    display: flex;
    color: $font-color;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    justify-content: space-between;
}