@import "../../global/global.scss";
.main {
  max-width: 500px;
  margin: 20px;
  font-family: $font-family !important;

  @media (min-width: 500px) {
    border: 1px solid $color-main;
    display: block;
    align-self: center;
    border-radius: 4px;
    margin: 30px auto;
    background-color: black;
    padding: 20px;
  }
}

.appBar {
  margin: auto;
}

.footer {
  margin: 25px 0;
  animation-name: footer;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  text-align: center;
}

@-moz-keyframes footer { 
  from {
    color: red;
  }
  to {
    color: orange;
  }
}
@-webkit-keyframes footer { 
  from {
    color: red;
  }
  to {
    color: orange;
  }
 }
@keyframes footer { 
  from {
    color: red;
  }
  to {
    color: orange;
  }
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}